.app-header {
  height: 48px;

  display: flex;

  justify-content: space-between;

  /* justify-items: right; */

  padding: 1em;

  background: #f8fafd;
}

nav a {
  margin: 0.5em;
}

nav a.active {
  color: var(--color1);

  font-weight: bold;

  text-decoration: overline;
}
